app.example.com {
  encode zstd gzip

  handle_path /api/* {
    reverse_proxy 127.0.0.1:4000
  }

  handle_path /sdk/* {
    root * /opt/dxm-pulse/app/packages/sdk/dist
    file_server
  }

  handle {
    root * /opt/dxm-pulse/app/apps/web/dist
    try_files {path} /index.html
    file_server
  }
}
